
{%  extends 'base.html.twig' %}

{%  block body %}
    <div class="jumbotron text-center">
        <h1>Agence Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean purus ligula, volutpat in magna vestibulum, euismod pharetra eros. In faucibus ipsum feugiat, volutpat velit id, accumsan quam. Vivamus tincidunt mauris sed massa sagittis facilisis. Proin sollicitudin ullamcorper scelerisque. Integer convallis quam nec leo sollicitudin, ut euismod augue faucibus. Vivamus pellentesque, dui vitae imperdiet elementum, nunc nibh sodales magna, in porttitor erat enim a nisi. Curabitur libero quam, dapibus eu rhoncus sit amet, vestibulum sed tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam arcu odio, dictum et aliquam et, sagittis in nulla. Vivamus et mauris eget erat accumsan fringilla. Sed sed magna et erat elementum vestibulum. Sed vitae ipsum ut mi blandit posuere. Curabitur mattis purus id velit condimentum, feugiat ullamcorper quam bibendum. Vestibulum semper vel velit non feugiat. Curabitur blandit efficitur rutrum. </p>
    </div>
    <div class="container">
    </div>
{% endblock %}